@import "normalize.css";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@back-ground-color: #faebff;
@font-color: #9c093d;
@main-children-width: 60%;

body {
  font-family: "Ubuntu";
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    background: linear-gradient(135deg, #f5d2fa 5%, #ee96ff 40%, #cbffa1);
    font-size: xx-large;
    font-weight: 700;
    color: white;
    padding: 100px 0;
    margin: 0 auto;
    width: 100vw;
    text-align: center;
  }
  div {
    width: 100vw;
    p {
      padding: 20px 0;
      width: 100%;
      margin: 0 auto;
      background-color: @back-ground-color;
      text-align: center;
      font-weight: 700;
      color: @font-color;
    }
    ul {
      padding-top: 20px;
      padding-bottom: 5px;
      width: 30%;
      margin: 0 auto;
      li {
        padding-bottom: 5px;
        span {
          font-weight: 700;
        }
      }
    }
  }
}

main {
  padding-top: 10px;
  margin-bottom: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .enter-string {
    border-top: solid 2px @font-color;
    padding-top: 20px;
    padding-bottom: 10px;
    width: @main-children-width;
    label,
    input {
      display: block;
      margin: 0 auto;
    }
    label {
      text-align: left;
      padding-bottom: 10px;
      padding-left: 15%;
      padding-right: 15%;
      color: @font-color;
      font-weight: 700;
      font-size: 20px;
    }
    input {
      width: 70%;
      line-height: 2em;
      padding-left: 10px;
      border: solid 2px #dedede;
      border-radius: 0;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      &:focus {
        border: solid 2px @font-color;
      }
    }
  }
  .sort-order {
    width: @main-children-width;
    padding: 10px 0;
    div {
      width: 100%;
      padding-left: 15%;
      padding-bottom: 8px;
      input[type="radio"] {
        margin-top: -2px;
        vertical-align: middle;
        color: @font-color;
      }
      label {
        font-size: 15px;
      }
    }
  }
  #find-button {
    width: 15%;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    display: block;
    border: none;
    border-radius: 10px;
    background-color: @back-ground-color;
    color: @font-color;
    margin-bottom: 10px;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    &:hover {
      background-color: @font-color;
      color: @back-ground-color;
      cursor: pointer;
    }
  }
  .list-area {
    width: @main-children-width;
    margin-top: 20px;
    background-color: @back-ground-color;
    padding: 20px 15px;
    h2 {
      text-align: center;
    }
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 5px;
      li {
        display: inline-block;
      }
      .palindrome-substring {
        grid-column: 1;
        grid-row: 1;
      }
      .position {
        grid-column: 2;
        grid-row: 1;
      }
      .length {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
}

footer {
  width: 100vw;
  height: 100px;
  background: linear-gradient(135deg, #f5d2fa 5%, #ee96ff 40%, #cbffa1);
  position: relative;
  h2 {
    position: absolute;
    font-weight: 700;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
