@import "normalize.css";
@import "reset.css";
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoC1CzTtw.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCxCvTtw.ttf) format('truetype');
}
body {
  font-family: "Ubuntu";
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header h2 {
  background: linear-gradient(135deg, #f5d2fa 5%, #ee96ff 40%, #cbffa1);
  font-size: xx-large;
  font-weight: 700;
  color: white;
  padding: 100px 0;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}
.header div {
  width: 100vw;
}
.header div p {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  background-color: #faebff;
  text-align: center;
  font-weight: 700;
  color: #9c093d;
}
.header div ul {
  padding-top: 20px;
  padding-bottom: 5px;
  width: 30%;
  margin: 0 auto;
}
.header div ul li {
  padding-bottom: 5px;
}
.header div ul li span {
  font-weight: 700;
}
main {
  padding-top: 10px;
  margin-bottom: 50px;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
main .enter-string {
  border-top: solid 2px #9c093d;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 60%;
}
main .enter-string label,
main .enter-string input {
  display: block;
  margin: 0 auto;
}
main .enter-string label {
  text-align: left;
  padding-bottom: 10px;
  padding-left: 15%;
  padding-right: 15%;
  color: #9c093d;
  font-weight: 700;
  font-size: 20px;
}
main .enter-string input {
  width: 70%;
  line-height: 2em;
  padding-left: 10px;
  border: solid 2px #dedede;
  border-radius: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
main .enter-string input:focus {
  border: solid 2px #9c093d;
}
main .sort-order {
  width: 60%;
  padding: 10px 0;
  border-bottom: solid 2px #9c093d;
}
main .sort-order div {
  width: 100%;
  padding-left: 15%;
  padding-bottom: 8px;
}
main .sort-order div input[type="radio"] {
  margin-top: -2px;
  vertical-align: middle;
  color: #9c093d;
}
main .sort-order div label {
  font-size: 15px;
}
main #find-button {
  width: 15%;
  height: 40px;
  font-size: 15px;
  font-weight: 700;
  display: block;
  border: none;
  border-radius: 10px;
  background-color: #faebff;
  color: #9c093d;
  margin: 50px auto;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main #find-button:hover {
  background-color: #9c093d;
  color: #faebff;
  cursor: pointer;
}
main section {
  width: 60%;
  height: 500px;
  background-color: #faebff;
  padding: 20px 15px;
}
main section .list-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
}
main section .list-title .title-palindrome-substring {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
main section .list-title .title-length {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
main section .list-title .title-position {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}
main section .list-area {
  padding-top: 10px;
  height: 470px;
  overflow-y: scroll;
  background-color: #fcfcfc;
  position: relative;
}
main section .list-area::-webkit-scrollbar {
  width: 0;
}
main section .list-area h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  color: #9c093d;
}
main section .list-area ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px 0;
}
main section .list-area ul li {
  display: inline-block;
}
main section .list-area ul .palindrome-substring {
  grid-column: 1;
  grid-row: 1;
  padding-left: 30%;
  word-wrap: break-word;
  word-break: break-all;
}
main section .list-area ul .length {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}
main section .list-area ul .position {
  grid-column: 3;
  grid-row: 1;
  text-align: center;
}
footer {
  width: 100vw;
  height: 100px;
  background: linear-gradient(135deg, #cbffa1 5%, #ee96ff 40%, #f5d2fa);
  position: relative;
}
footer h2 {
  position: absolute;
  font-weight: 700;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
